h1{
  font-family: "Arial";
  color: DarkGreen;
  border: 2px solid #333;
}
td{
  border: 2px solid #333;
  height: 18%;
  width: 8%;
  text-align: center;
  vertical-align: middle;
  font-family: "Georgia";
  font-weight: bold;
  font-size: 220%;
  cursor: pointer;
}
table{
  width : 30%;
  height: 50%;
  border-collapse: collapse;
  position: absolute;
  left: 45%;
  top: 30%;
}
table tr:first-child td{
  border-top: 0;
}
table tr:last-child td{
  border-bottom: 0;
}
table tr td:first-child{
  border-left: 0;
}
table tr td:last-child{
  border-right: 0;
}
.endgame {
  display: none;
  width: 40%;
  top: 25%;
  background-color: rgba(20,20,20, 0.75);
  position: absolute;
  left: 35%;
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  font-family: "Georgia";
  font-weight: bold;
  border-radius: 5px;
  color: red;
  font-size: 1.5em;
}
.btn-group .btn {
  width: 18%;
  background-color: #4CAF50; 
  border: 1px solid white;
  color: black;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 62%;
  cursor: pointer;
  display: block;
  margin-left: 3%
}

.btn-group .btn:not(:last-child) {
  border-right: none; /* Prevent double borders */
}

.active, .btn:hover {
  background-color: #e7e7e7; color: black;
}
.again{
  background-color: #008CBA; 
  border: 1px solid white;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  cursor: pointer;
  
  position: absolute;
  left: 4%;
  top: 89%;
  border-radius: 8px;
}
.again:hover {
  background-color: #e7e7e7; color: black;
}
.score-table{
  width: 18%;
  height: 18%;
  border: solid;
  position: absolute;
  left: 4%;
  top: 45%;
  font-size: 70%;
}
.score-table td{
  width: 18%;
  height: 40%;
  font-size: 100%;
}

.reset{
  background-color: #f44336; 
  border: 1px solid white;
  color: black;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60%;
  cursor: pointer;
  
  position: absolute;
  left: 4%;
  top: 71%;
  border-radius: 8px;
}
.reset:hover {
  background-color: #e7e7e7; color: black;
}

.container {
  position: sticky;
  height: 5%;
  top: 5%;
  left: 25%;
  width: 2%;
  padding-left: 5%;
  margin-bottom: 1%;
  display: block;
  cursor: pointer;
  font-size: 140%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0%;
  left: 0%;
  height: 100%;
  width: 45%;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 35%;
	left: 35%;
	width: 30%;
	height: 32%;
	border-radius: 50%;
	background: white;
}
.help{
  background-color: #f44336; 
  border: 1px solid white;
  color: black;
  padding: 5px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 60%;
  cursor: pointer;
  
  position: absolute;
  left: 4%;
  top: 80%;
  border-radius: 8px;
}
.help:hover {
  background-color: #e7e7e7; color: black;
}
